@use 'styles/constants/colors';
@use 'styles/constants/levels';
@use 'styles/constants/sizes';
@use 'styles/mixins/flexbox';
@use 'styles/mixins/position';

.paletteWrapper {
  @include flexbox.flexbox(center, center);
  @include position.absolute((36px, 0, 0, 0));
  z-index: levels.$DROPDOWN;
  width: 160px;
  height: fit-content;
  padding: 8px 16px;
  background-color: colors.$WHITE;
  border: 1px solid colors.$DARK30;
  border-radius: sizes.$BORDER_RADIUS;
}

.paletteList {
  @include flexbox.flexbox(center, center);
  flex-flow: wrap;
  align-content: center;
  height: 64px;

  li {
    height: 30px;

    button {
      width: 30px;
      height: 30px;
    }
  }
}
