@use 'styles/constants/colors';
@use 'styles/mixins/flexbox';
@use 'styles/mixins/responsive';

.navigationBarWrapper {
  background-color: colors.$CONTAINER_BG;
  transition: 0.2s;

  &.isBarHidden {
    display: none;
  }

  .navigationBarUL {
    @include flexbox.flexbox(between, center);
    flex-direction: row;
    width: 100vw;
    height: 3rem;

    & > li {
      width: 100%;
      height: 100%;
    }

    .navigationBarItem {
      @include flexbox.flexbox(center, center);
      flex: 1;
      height: 100%;
      transition: background-color 0.2s;

      svg {
        height: 1.5rem;
        fill: colors.$NAV_ICONS;
      }

      &:hover {
        cursor: pointer;
        background-color: colors.$CONTAINER_BG_HOVER;
      }
    }

    .isActive > .navigationBarItem {
      background-color: colors.$CONTAINER_BG_SELECTED;

      svg {
        fill: colors.$WHITE;
      }
    }
  }

  @include responsive.after(SD) {
    height: 100%;

    &.isBarHidden {
      display: block;
    }

    .navigationBarUL {
      flex-direction: column;
      justify-content: start;
      width: 5rem;

      & > li {
        flex: none;
        width: 100%;
        height: 4rem;
      }
    }
  }
}
