@use 'styles/constants/colors';
@use 'styles/mixins/flexbox';

.navigationBarWrapper {
  @include flexbox.flexbox(start, center);
  flex-direction: column;
  width: 5rem;
  height: 100vh;
  background-color: colors.$CONTAINER_BG;
}

.navigationBarUL {
  @include flexbox.flexbox(start, center);
  flex-direction: column;

  & > li {
    margin: 1rem 0;

    svg {
      height: 1.5rem;
      fill: colors.$NAV_ICONS;
    }
  }

  .isActive {
    svg {
      fill: colors.$NAV_ICONS_ACTIVE;
    }
  }
}
