@use 'styles/mixins/flexbox';
@use 'styles/mixins/responsive';
@use 'styles/constants/colors';
@use 'styles/constants/sizes';

.shortcutInputWrapper {
  @include flexbox.flexbox(start, start);
  flex-direction: column;
  margin-right: 16px;

  & > input[type='text'] {
    margin-bottom: 16px;
  }

  span {
    font-size: sizes.$FONT_SMALL;
    color: colors.$ALERT;
  }
}

@include responsive.after(SD) {
  .shortcutInputWrapper > input[type='text'] {
    width: 300px;
    margin-right: 16px;
  }
}
