@use 'styles/mixins/flexbox';
@use 'styles/mixins/responsive';

.calendarInner {
  @include flexbox.flexbox(center, start);
  height: 640px;
  max-height: 640px;
  overflow: auto;

  .calendar {
    width: 100%;
    border: none;
  }
}

@include responsive.after(SD) {
  .calendarWrapper {
    grid-row: 1 / 5;
    grid-column: 1;

    .calendarInner {
      height: calc(100% - 40px);
      max-height: none;
    }
  }
}
