@use 'styles/mixins/flexbox';
@use 'styles/mixins/responsive';
@use 'styles/constants/colors';
@use 'styles/constants/sizes';

.shortcutItemsWrapper {
  @include flexbox.flexbox(start, start);
  flex-direction: column;
  width: 100%;
  max-height: sizes.$LIST_CONTAINER;

  & > ul {
    @include flexbox.flexbox(start, center);
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: auto;
  }
}

@include responsive.after(SD) {
  .shortcutWrapper {
    display: none;
  }
}

@include responsive.after(MD) {
  .shortcutWrapper {
    display: block;
    grid-row: 4;
    grid-column: 1 / 4;

    .shortcutItemsWrapper {
      height: 60%;

      & > ul {
        flex-direction: row;
      }
    }
  }
}
