@use 'styles/constants/colors';
@use 'styles/constants/sizes';
@use 'styles/mixins/flexbox';
@use 'styles/mixins/responsive';

.todoWrapper {
  .todoListWrapper {
    @include flexbox.flexbox(start, center);
    flex-direction: column;
    width: 100%;
    max-height: sizes.$LIST_CONTAINER;

    ul {
      width: 100%;
      overflow: auto;
    }
  }
}

@include responsive.after(SD) {
  .todoWrapper {
    grid-row: 2 / 4;
    grid-column: 1;

    .todoListWrapper {
      max-height: calc(100% - 4rem);
      overflow: auto;
    }
  }
}
