@use 'styles/constants/colors';
@use 'styles/constants/sizes';
@use 'styles/constants/levels';
@use 'styles/mixins/flexbox';

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  z-index: levels.$MODAL_BACKGROUND;
  width: 100vw;
  height: 100vh;
  background-color: rgba(colors.$DARK, 20%);
  backdrop-filter: blur(4px);
}

.deleteModalWrapper {
  @include flexbox.flexbox(start, center);
  position: fixed;
  top: calc(50% - 96px);
  left: calc(50% - 128px);
  flex-direction: column;
  width: 256px;
  height: 192px;
  background-color: colors.$WHITE;
  border-radius: sizes.$BORDER_RADIUS;
  box-shadow: 0 0 32px 2px colors.$DARK30;

  header {
    width: 100%;
    height: 48px;
    font-size: sizes.$FONT_ACCENT;
    font-weight: 500;
    line-height: 48px;
    color: colors.$DARK;
    text-align: center;
    background-color: colors.$MIDDLE40;
    border-top-left-radius: sizes.$BORDER_RADIUS;
    border-top-right-radius: sizes.$BORDER_RADIUS;
  }

  main {
    width: 100%;
    padding: 0 32px;

    p {
      width: 100%;
      height: 80px;
      overflow: hidden;
      line-height: 80px;
      color: colors.$DARK;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.buttonWrapper {
  @include flexbox.flexbox(between, center);
  flex-direction: row;
  width: 100%;

  & > button {
    width: 80px;
    height: 40px;
  }
}
