@use 'styles/constants/colors';
@use 'styles/constants/sizes';
@use 'styles/mixins/flexbox';

.errorWrapper {
  @include flexbox.flexbox(center, center);
  flex-direction: column;
  padding: 8px 0;

  svg {
    width: 64px;
    margin-bottom: 8px;
    fill: colors.$DARK;
  }

  h3 {
    width: 100%;
    overflow: hidden;
    font-size: sizes.$FONT_ACCENT;
    color: colors.$DARK;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
