@use 'styles/constants/sizes';
@use 'styles/mixins/flexbox';
@use 'styles/mixins/responsive';

.baekjoonWrapper {
  .baekjoonItemsWrapper {
    @include flexbox.flexbox(start, center);
    flex-direction: column;
    width: 100%;
    max-height: sizes.$LIST_CONTAINER;

    ul {
      width: 100%;
      overflow: auto;
    }
  }
}

@include responsive.after(SD) {
  .baekjoonWrapper {
    grid-row: 2 / 4;
    grid-column: 2;

    .baekjoonItemsWrapper {
      max-height: calc(100% - 64px);
      overflow: auto;
    }
  }
}
