/* Grayscale */
$WHITE: #ffffff;

/* THEME_BLUE */
$PRIMARY: #6d9cda;
$ICON_GRADIENT: #6c82f0;
$SECONDARY: #4d6e99;
$DARK: #2d4059;
$DARK10: rgba($DARK, 10%);
$DARK30: rgba($DARK, 30%);
$DARK50: rgba($DARK, 50%);
$MIDDLE: #6089bf;
$MIDDLE20: rgba($MIDDLE, 20%);
$MIDDLE30: rgba($MIDDLE, 30%);
$MIDDLE40: rgba($MIDDLE, 40%);
$LIGHT: #f1f6f9;
$ALERT: #f07176;

/* THEME_DARK */
$DARK_PRIMARY: #6d9cda;
$DARK_ICON_GRADIENT: #6c82f0;
$DARK_SECONDARY: #4d6e99;
$DARK_DARK: #f1f6f9;
$DARK_DARK10: rgba($DARK_DARK, 10%);
$DARK_DARK30: rgba($DARK_DARK, 30%);
$DARK_DARK50: rgba($DARK_DARK, 50%);
$DARK_MIDDLE: #6089bf;
$DARK_MIDDLE20: rgba($DARK_MIDDLE, 20%);
$DARK_MIDDLE30: rgba($DARK_MIDDLE, 30%);
$DARK_MIDDLE40: rgba($DARK_MIDDLE, 40%);
$DARK_LIGHT: #2d4059;

/* Solvedac Tier */
$TIER_UNRATED: #2d2d2d;
$TIER_BRONZE: #ad5600;
$TIER_SILVER: #435f7a;
$TIER_GOLD: #ec9a00;
$TIER_PLATINUM: #27e2a4;
$TIER_DIAMOND: #00b4fc;
$TIER_RUBY: #ff0062;

/* Weather Color */
$THUNDERSTORM: #011526;
$DRIZZLE: #adc2c6;
$RAIN: #8697a6;
$SNOW: #dfe5f2;
$FOG: #c4c8cd;
$CLEARSKY: #57aaf2;
$CLOUD: #9fabb7;
