// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;

// THEME_BLUE
$PRIMARY: #6d9cda;
$ICON_GRADIENT: #6c82f0;
$SECONDARY: #4d6e99;
$DARK: #2d4059;
$DARK10: rgba($DARK, 10%);
$DARK30: rgba($DARK, 30%);
$DARK50: rgba($DARK, 50%);
$MIDDLE: #6089bf;
$MIDDLE20: rgba($MIDDLE, 20%);
$MIDDLE40: rgba($MIDDLE, 40%);
$LIGHT: #f1f6f9;

// Solvedac Tier
$TIER_UNRATED: #2d2d2d;
$TIER_BRONZE: #ad5600;
$TIER_SILVER: #435f7a;
$TIER_GOLD: #ec9a01;
$TIER_PLATINUM: #28e2a4;
$TIER_DIAMOND: #02b3fd;
$TIER_RUBY: #ff0062;
