$LIST_CONTAINER: 20rem;
$BORDER_RADIUS: 0.5rem;
$CONTAINER_SHADOW: 0 0 1rem 0.05rem;
$ELEMENT_SHADOW: 0 0 0.5rem 0.02rem;

// font sizes
$FONT_TITLE: 1.5rem;
$FONT_SUBTITLE: 1.3rem;
$FONT_ACCENT: 1.1rem;
$FONT_SMALL: 0.9rem;
