$LIST_CONTAINER: 320px;
$BORDER_RADIUS: 8px;
$CONTAINER_SHADOW: 0 0 4px 1px;

/* font sizes */
$FONT_TITLE: 30px;
$FONT_SUBTITLE: 24px;
$FONT_ACCENT: 20px;
$FONT_SMALL: 13px;

/* Responsive - SD Outlet Size */
$OUTLET_WIDTH: calc(100vw - 80px);
$OUTLET_HEIGHT: calc(100vh - 64px);
