@use 'styles/constants/colors';
@use 'styles/constants/sizes';
@use 'styles/mixins/flexbox';
@use 'styles/mixins/responsive';

.settingsMain {
  width: 100%;
  padding: 1rem;
}

@include responsive.after(SD) {
  .settingsMain > .settingsListWrapper {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
}
