@use 'styles/mixins/flexbox';
@use 'styles/mixins/responsive';
@use 'styles/constants/colors';
@use 'styles/constants/sizes';

.shortcutElementWrapper {
  @include flexbox.flexbox(between, center);
  flex-direction: row;
  flex-shrink: 0;
  width: 100%;
  padding: 16px;
  margin-bottom: 16px;
  background-color: colors.$WHITE;
  border-radius: sizes.$BORDER_RADIUS;
  box-shadow: sizes.$CONTAINER_SHADOW colors.$DARK10;

  a {
    width: 80%;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.shortcutLeft {
  @include flexbox.flexbox(start, center);
  flex-direction: row;
  width: 100%;

  .shortcutTitle {
    width: calc(100% - 48px);
    overflow: hidden;
    line-height: 20px;
    color: colors.$DARK;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  img {
    width: 48px;
    margin-right: 16px;
  }
}

.deleteButton line {
  width: 32px;
  height: 32px;
  color: colors.$DARK;
}

@include responsive.after(SD) {
  .shortcutElementWrapper {
    width: 240px;
    height: 100%;
    max-height: 64px;
    margin-top: 0;
    margin-right: 8px;
    margin-bottom: 0;

    img {
      width: 32px;
    }
  }
}
