@use 'styles/mixins/flexbox';
@use 'styles/mixins/responsive';
@use 'styles/constants/colors';
@use 'styles/constants/sizes';

.shortcutElementWrapper {
  @include flexbox.flexbox(between, center);
  flex-direction: row;
  width: 100%;
  padding: 16px;
  margin: 8px;
  background-color: colors.$WHITE;
  border-radius: sizes.$BORDER_RADIUS;
  box-shadow: sizes.$CONTAINER_SHADOW colors.$DARK10;

  a {
    flex: 1;
  }
}

.shortcutLeft {
  @include flexbox.flexbox(start, center);
  flex-direction: row;
  width: 100%;

  .shortcutTitle {
    width: 112px;
    overflow: hidden;
    color: colors.$DARK;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  img {
    width: 48px;
    margin-right: 16px;
  }
}

.deleteButton line {
  width: 32px;
  height: 32px;
  color: colors.$DARK;
}

@include responsive.after(SD) {
  .shortcutElementWrapper {
    height: 64px;

    img {
      width: 32px;
    }
  }
}
