@use 'styles/constants/colors';

.weatherDrizzle {
  border-color: colors.$DRIZZLE;
}

.weatherRain {
  border-color: colors.$RAIN;
}

.weatherSnow {
  border-color: colors.$SNOW;
}

.weatherFog {
  border-color: colors.$FOG;
}

.weatherClearSky {
  border-color: colors.$CLEARSKY;
}

.weatherCloud {
  border-color: colors.$CLOUD;
}

.weatherDefault {
  border-color: colors.$MIDDLE;
}

.tier0 {
  border-color: colors.$TIER_UNRATED;
}

.tier1 {
  border-color: colors.$TIER_BRONZE;
}

.tier2 {
  border-color: colors.$TIER_SILVER;
}

.tier3 {
  border-color: colors.$TIER_GOLD;
}

.tier4 {
  border-color: colors.$TIER_PLATINUM;
}

.tier5 {
  border-color: colors.$TIER_DIAMOND;
}

.tier6 {
  border-color: colors.$TIER_RUBY;
}
