@use 'styles/constants/colors';

.listContainer {
  width: 100%;
  padding: 10px 20px;
  background-color: colors.$WHITE;
  border-radius: 0.5rem;
}

.listContainerHeader {
  padding: 10px 0;

  h3 {
    font-size: 1.2rem;
    color: colors.$DARK;
  }
}

input[type='checkbox'] {
  width: 1rem;
  height: 1rem;
  border: 1px solid colors.$DARK30;

  &:checked {
    background-color: colors.$PRIMARY;
    box-shadow: inset 0 0 0 2px colors.$WHITE;
  }
}
