@use 'styles/constants/colors';
@use 'styles/constants/sizes';
@use 'styles/mixins/flexbox';
@use 'styles/mixins/responsive';
@use 'styles/mixins/position';

.listContainer {
  width: 100%;
  padding: 16px;
  margin-bottom: 16px;
  background-color: colors.$WHITE;
  border-radius: sizes.$BORDER_RADIUS;
  box-shadow: sizes.$CONTAINER_SHADOW colors.$DARK10;
}

.listContainerHeader,
.listContainerAddHeader {
  padding-bottom: 16px;

  h3 {
    overflow: hidden;
    font-size: sizes.$FONT_ACCENT;
    font-weight: 500;
    line-height: 24px;
    color: colors.$DARK;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.listContainerHeader > button {
  display: none;
}

.listContainerAddHeader {
  @include flexbox.flexbox(between, center);
  flex-direction: row;

  .addFormIcon {
    stroke: colors.$DARK;
    transition: 0.2s;

    &.isRemoving {
      transform: rotate(45deg);
    }
  }
}

.listContainerAddForm {
  width: 100%;
  padding: 8px 0 16px;
  margin-bottom: 8px;
  border-bottom: 2px solid colors.$DARK30;

  form {
    @include flexbox.flexbox(center, center);
    flex-direction: row;
  }
}

input[type='checkbox'] {
  width: 16px;
  height: 16px;
  border: 1px solid colors.$DARK30;

  &:checked {
    background-color: colors.$PRIMARY;
    box-shadow: inset 0 0 0 2px colors.$WHITE;
  }
}

input[type='text'] {
  width: 40vw;
  color: colors.$DARK;
  border-bottom: 1px solid colors.$DARK30;

  &:placeholder {
    color: colors.$DARK10;
  }
}

@include responsive.after(SD) {
  .listContainer {
    @include position.relative((0, 0));
    width: 100%;
    margin: 0;
    overflow: auto;
  }

  .listContainerAddForm {
    @include position.absolute((50px, 0, _, _));
    width: 100%;
    padding: 16px 32px;
    margin: 0;
    background-color: colors.$WHITE;
  }

  .listContainerHeader,
  .listContainerAddHeader {
    padding-bottom: 10px;
  }
}

/* stylelint-disable-next-line selector-class-pattern */
.react-calendar__tile {
  height: 80px;
}
