@use 'styles/constants/colors';

.tier0Icon > .cls1 {
  fill: colors.$TIER_UNRATED;
}

.tier1Icon > .cls1 {
  fill: colors.$TIER_BRONZE;
}

.tier2Icon > .cls1 {
  fill: colors.$TIER_SILVER;
}

.tier3Icon > .cls1 {
  fill: colors.$TIER_GOLD;
}

.tier4Icon > .cls1 {
  fill: colors.$TIER_PLATINUM;
}

.tier5Icon > .cls1 {
  fill: colors.$TIER_DIAMOND;
}

.tier6Icon > .cls1 {
  fill: colors.$TIER_RUBY;
}

.tier1Icon,
.tier0Icon,
.tier2Icon,
.tier3Icon,
.tier4Icon,
.tier5Icon,
.tier6Icon {
  path {
    fill: colors.$WHITE;
  }

  .cls2 {
    fill: colors.$WHITE;
  }
}
