@use 'styles/mixins/flexbox';
@use 'styles/constants/colors';
@use 'styles/constants/sizes';

.todoInfo {
  @include flexbox.flexbox(center, center);
  flex-direction: column;

  .todoDeadline {
    color: colors.$DARK50;
  }
}

.formLeft {
  @include flexbox.flexbox(center, start);
  flex-direction: column;
  margin-right: 1rem;

  .checkboxArea {
    @include flexbox.flexbox(center, start);
    flex-direction: row;
    margin: 0.8rem 0;

    label {
      margin-left: 0.5rem;
      font-size: sizes.$FONT_SMALL;
      line-height: 1rem;
      color: colors.$DARK30;
    }
  }
}
