@use 'styles/mixins/flexbox';
@use 'styles/mixins/responsive';
@use 'styles/constants/colors';
@use 'styles/constants/sizes';

.todoInfo {
  @include flexbox.flexbox(center, center);
  flex-direction: column;

  .todoDeadline {
    color: colors.$DARK50;
  }
}

.formLeft {
  @include flexbox.flexbox(center, start);
  flex-direction: column;
  margin-right: 16px;

  .checkboxArea {
    @include flexbox.flexbox(center, start);
    flex-direction: row;
    margin: 16px 0;

    label {
      margin-left: 8px;
      font-size: sizes.$FONT_SMALL;
      line-height: 16px;
      color: colors.$DARK30;
    }
  }
}

@include responsive.after(SD) {
  .formLeft > input[type='text'] {
    width: 160px;
  }
}
