@use 'styles/constants/colors';
@use 'styles/constants/sizes';
@use 'styles/mixins/flexbox';
@use 'styles/mixins/responsive';

.ddayElementWrapper {
  @include flexbox.flexbox(start, center);
  width: 100%;
  height: 96px;
  padding: 16px;
  margin-bottom: 16px;
  background-color: colors.$WHITE;
  border: 5px solid;
  border-radius: sizes.$BORDER_RADIUS;
  box-shadow: sizes.$CONTAINER_SHADOW colors.$DARK10;

  .ddayEmoji {
    width: 48px;
    margin-right: 16px;
    overflow: hidden;
    font-size: 48px;
  }

  .ddayInfoContainer {
    flex: 1;
    overflow: hidden;

    dt {
      margin-bottom: 8px;
      overflow: hidden;
      font-size: sizes.$FONT_ACCENT;
      color: colors.$DARK;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    dd {
      overflow: hidden;
      color: colors.$DARK50;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  button > svg {
    width: auto;

    line {
      color: colors.$DARK;
    }
  }
}

@include responsive.after(SD) {
  .ddayElementWrapper {
    width: 240px;
    height: auto;
    margin: 0;
    margin-right: 8px;

    .ddayInfoContainer {
      width: 120px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
