@use 'styles/constants/colors';
@use 'styles/constants/sizes';
@use 'styles/mixins/flexbox';
@use 'styles/mixins/responsive';

.ddayElementWrapper {
  @include flexbox.flexbox(start, center);
  width: 100%;
  height: 6rem;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: colors.$WHITE;
  border: 0.3rem solid;
  border-radius: sizes.$BORDER_RADIUS;
  box-shadow: sizes.$ELEMENT_SHADOW colors.$DARK10;

  .ddayEmoji {
    width: 3rem;
    margin-right: 1rem;
    overflow: hidden;
    font-size: 3rem;
  }

  .ddayInfoContainer {
    flex: 1;
    overflow: hidden;

    dt {
      margin-bottom: 0.5rem;
      overflow: hidden;
      font-size: sizes.$FONT_ACCENT;
      color: colors.$DARK;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    dd {
      color: colors.$DARK50;
    }
  }

  button > svg {
    width: auto;

    line {
      color: colors.$DARK;
    }
  }
}

@include responsive.after(SD) {
  .ddayElementWrapper {
    flex-grow: 1;
    min-width: 12rem;
    margin: 0;
    margin-right: 0.5rem;

    &:last-child {
      margin-right: 0;
    }
  }
}
