@use 'styles/constants/colors';
@use 'styles/constants/levels';
@use 'styles/constants/sizes';
@use 'styles/mixins/flexbox';
@use 'styles/mixins/position';
@use 'styles/mixins/responsive';

.dropdownWrapper {
  @include position.relative((0));
  width: fit-content;

  & > button {
    @include flexbox.flexbox(between, center);
    flex-direction: row;
    height: 3rem;
    padding: 0.5rem 1rem;
    color: colors.$DARK;
    border: 1px solid colors.$DARK30;
    border-radius: sizes.$BORDER_RADIUS;

    p {
      margin-right: 1rem;
      font-weight: 500;
    }

    svg {
      width: 1rem;
      fill: colors.$DARK;
    }
  }

  @include responsive.between(0, M) {
    & > button {
      p {
        max-width: 2rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

.dropdownList {
  @include position.absolute((3.3rem, _, _, 0));
  @include flexbox.flexbox(center, start);
  flex-direction: column;
  width: 8rem;
  background-color: colors.$WHITE;
  border: 1px solid colors.$DARK30;
  border-radius: sizes.$BORDER_RADIUS;

  li {
    width: 100%;
    border-bottom: 1px solid colors.$DARK30;

    &:last-child {
      border-bottom: none;
    }

    button {
      width: 100%;
      height: 2rem;
      padding: 0 1rem;
      color: colors.$DARK;

      @include flexbox.flexbox(start, center);

      &:hover {
        background-color: colors.$DARK10;
      }
    }
  }
}
