@use 'styles/constants/colors';
@use 'styles/mixins/flexbox';
@use 'styles/mixins/responsive';

.settingsFormWrapper {
  .settingForm {
    @include flexbox.flexbox(between, center);
    flex-direction: row;
    padding: 0 32px;
    margin-bottom: 16px;

    & > label,
    & > span {
      width: 25%;
      max-width: 120px;
      margin-right: 10px;
      overflow: hidden;
      color: colors.$DARK50;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    & > input[type='text'] {
      flex: 1;
      max-width: 100px;
    }
  }

  @include responsive.between(0, 480px) {
    .settingForm {
      padding: 0;

      & > label,
      & > span {
        max-width: 64px;
      }

      input[type='text'] {
        max-width: 96px;
      }

      & > button {
        width: 48px;
      }
    }
  }
}

@include responsive.after(SD) {
  .settingsFormWrapper {
    grid-row: 1 / 3;
    grid-column: 1;
  }
}
