@use 'styles/mixins/position';
@use 'styles/mixins/flexbox';
@use 'styles/mixins/responsive';
@use 'styles/constants/colors';
@use 'styles/constants/levels';

.layoutWrapper {
  @include position.relative(0);
  @include flexbox.flexbox(between, center);
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  &::before {
    @include position.fixed((0, 0));
    z-index: levels.$LAYOUT_IMAGE;
    width: 100%;
    height: 100%;
    content: '';
    background-image: url('../../assets/images/seashore.webp');
    filter: blur(5px);
    opacity: 0.5;
    transform: scale(110%);
  }

  .layoutBottom {
    flex: 1;
    width: 100vw;
    border: 1px solid red;
  }

  @include responsive.after(SD) {
    .layoutBottom {
      @include flexbox.flexbox(between, center);
      flex-direction: row;
    }
  }
}
