@use 'styles/mixins/position';
@use 'styles/mixins/flexbox';
@use 'styles/mixins/responsive';
@use 'styles/constants/colors';
@use 'styles/constants/levels';

.layoutWrapper {
  @include flexbox.flexbox(between, center);
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: colors.$LIGHT;

  .layoutBottom {
    @include flexbox.flexbox(between, start);
    flex: 1;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
  }

  .layoutOutlet {
    @include flexbox.flexbox(start, start);
    flex: 1;
    flex-direction: column;
    width: 100%;
    overflow: auto;

    .dashboardHeader {
      height: 3rem;
      padding: 0 1rem;

      h1 {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 3rem;
        color: colors.$DARK;
      }
    }
  }

  @include responsive.after(SD) {
    .layoutBottom {
      @include flexbox.flexbox(between, center);
      flex-direction: row;
    }
  }
}
