@use 'styles/constants/sizes';
@use 'styles/mixins/flexbox';
@use 'styles/mixins/responsive';

.weatherWrapper {
  .weatherListWrapper {
    @include flexbox.flexbox(center, start);
    flex-direction: column;
    width: 100%;
    max-height: sizes.$LIST_CONTAINER;

    ul {
      width: 100%;
      height: 100%;
      overflow: auto;
    }
  }
}

@include responsive.after(SD) {
  .weatherWrapper {
    grid-row: 4;
    grid-column: 1 / 3;

    .weatherListWrapper {
      overflow: auto;

      ul {
        @include flexbox.flexbox(start, center);
        flex-direction: row;
      }
    }
  }
}

@include responsive.after(MD) {
  .weatherWrapper {
    grid-row: 2 / 4;
    grid-column: 3;

    .weatherListWrapper {
      max-height: calc(100% - 64px);

      ul {
        flex-direction: column;
      }
    }
  }
}
