@use 'styles/constants/sizes';
@use 'styles/mixins/flexbox';
@use 'styles/mixins/responsive';

.weatherWrapper {
  .weatherListWrapper {
    @include flexbox.flexbox(start, start);
    flex-direction: column;
    width: 100%;
    max-height: sizes.$LIST_CONTAINER;

    ul {
      width: 100%;
      overflow-y: scroll;
    }
  }
}

@include responsive.after(SD) {
  .weatherWrapper {
    grid-row: 4;
    grid-column: 1 / 3;

    .weatherListWrapper {
      overflow: scroll;

      ul {
        @include flexbox.flexbox(start, start);
        flex-direction: row;
      }
    }
  }
}

@include responsive.after(MD) {
  .weatherWrapper {
    grid-row: 2 / 4;
    grid-column: 3;

    .weatherListWrapper > ul {
      display: block;
    }
  }
}
