@use 'styles/constants/colors';
@use 'styles/mixins/flexbox';
@use 'styles/mixins/position';

.navigationBarWrapper {
  @include flexbox.flexbox(start, center);
  width: 100vw;
  height: 4rem;
  color: colors.$CONTAINER_TEXT;
  background-color: colors.$CONTAINER_BG;

  .navigationBarIcon {
    @include flexbox.flexbox(center, center);
    width: 5rem;
    height: 4rem;
    background: linear-gradient(colors.$NAV_TITLE_ICON_BG1, colors.$NAV_TITLE_ICON_BG2);

    svg {
      fill: colors.$WHITE;
    }
  }

  .navigationBarRight {
    @include flexbox.flexbox(between, center);
    padding: 0 1rem;

    h3 {
      font-size: 1.1rem;
      font-weight: 500;

      b {
        font-weight: 600;
      }
    }
  }
}
