@use 'styles/constants/colors';
@use 'styles/constants/levels';
@use 'styles/constants/sizes';
@use 'styles/mixins/flexbox';
@use 'styles/mixins/responsive';

.navigationBarWrapper {
  @include flexbox.flexbox(start, center);
  z-index: levels.$TOPNAV;
  width: 100vw;
  height: 4rem;
  color: colors.$DARK;
  background-color: colors.$WHITE;

  .navigationBarIcon {
    @include flexbox.flexbox(center, center);
    width: 5rem;
    min-width: 5rem;
    height: 4rem;
    background: linear-gradient(colors.$PRIMARY, colors.$ICON_GRADIENT);

    svg {
      fill: colors.$WHITE;
    }
  }

  .navigationBarRight {
    @include flexbox.flexbox(between, center);
    width: 100%;
    padding: 0 1rem;

    h3 {
      font-size: sizes.$FONT_ACCENT;
      font-weight: 500;

      b {
        font-weight: 600;
      }
    }

    .hamburgerButton {
      width: 2rem;
      height: 2rem;

      svg {
        width: 2rem;
        height: 2rem;

        path {
          fill: colors.$DARK50;
        }
      }
    }
  }

  @include responsive.after(SD) {
    .hamburgerButton {
      display: none;
    }
  }

  @include responsive.after(M) {
    .navigationBarRight > h3 ::after {
      font-weight: 500;
      content: '님 안녕하세요!';
    }
  }
}
