@use 'styles/mixins/flexbox';
@use 'styles/mixins/responsive';
@use 'styles/constants/colors';
@use 'styles/constants/sizes';

.baekjoonElementWrapper {
  @include flexbox.flexbox(between, center);
  width: 100%;
  padding-right: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
  border-top: 3px solid;
  border-right: 3px solid;
  box-shadow: sizes.$ELEMENT_SHADOW colors.$DARK10;

  &:last-child {
    margin-bottom: 0;
  }

  a {
    width: calc(100% - 3rem);
  }

  svg {
    width: 2rem;
  }

  button > svg {
    width: auto;

    line {
      color: colors.$DARK;
    }
  }
}

.baekjoonElementLeft {
  @include flexbox.flexbox(start, start);
  flex-direction: row;
  overflow: hidden;

  p {
    height: 4rem;
    line-height: 4rem;
  }

  .baekjoonID {
    width: 3rem;
    margin: 0 0.5rem 0 1rem;
    color: colors.$DARK50;
  }

  .baekjoonProblem {
    flex: 1;
    margin-right: 0.5rem;
    overflow: hidden;
    color: colors.$DARK;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
