@use 'styles/mixins/flexbox';
@use 'styles/mixins/responsive';
@use 'styles/constants/colors';
@use 'styles/constants/sizes';

.baekjoonElementWrapper {
  @include flexbox.flexbox(between, center);
  width: 100%;
  padding-right: 16px;
  margin-bottom: 16px;
  overflow: hidden;
  border-top: 3px solid;
  border-right: 3px solid;
  box-shadow: sizes.$CONTAINER_SHADOW colors.$DARK10;

  &:last-child {
    margin-bottom: 0;
  }

  a {
    width: calc(100% - 48px);
  }

  svg {
    width: 32px;
  }

  button > svg {
    width: auto;

    line {
      color: colors.$DARK;
    }
  }
}

.baekjoonElementLeft {
  @include flexbox.flexbox(start, start);
  flex-direction: row;
  overflow: hidden;

  p {
    height: 64px;
    line-height: 64px;
  }

  .baekjoonID {
    width: 48px;
    margin: 0 8px 0 16px;
    color: colors.$DARK50;
  }

  .baekjoonProblem {
    flex: 1;
    margin-right: 8px;
    overflow: hidden;
    color: colors.$DARK;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
