@use 'styles/mixins/flexbox';
@use 'styles/constants/colors';
@use 'styles/constants/sizes';

.baekjoonElementWrapper {
  @include flexbox.flexbox(between, center);
  width: 100%;
  padding-right: 1rem;
  border-top: 3px solid;
  border-right: 3px solid;

  a {
    width: calc(100% - 3rem);
  }

  svg {
    width: 2rem;
  }

  button > svg {
    width: auto;

    line {
      color: colors.$DARK;
    }
  }
}

.baekjoonElementLeft {
  @include flexbox.flexbox(start, start);
  flex-direction: row;
  overflow: hidden;

  p {
    height: 4rem;
    line-height: 4rem;
  }

  .baekjoonID {
    width: 3rem;
    margin: 0 1rem;
    color: colors.$DARK50;
  }

  .baekjoonProblem {
    flex: 1;
    margin-right: 1rem;
    overflow: hidden;
    font-size: sizes.$FONT_ACCENT;
    color: colors.$DARK;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.tier0 {
  border-color: colors.$TIER_UNRATED;
}

.tier1 {
  border-color: colors.$TIER_BRONZE;
}

.tier2 {
  border-color: colors.$TIER_SILVER;
}

.tier3 {
  border-color: colors.$TIER_GOLD;
}

.tier4 {
  border-color: colors.$TIER_PLATINUM;
}

.tier5 {
  border-color: colors.$TIER_DIAMOND;
}

.tier6 {
  border-color: colors.$TIER_RUBY;
}
