@use 'styles/mixins/flexbox';
@use 'styles/mixins/responsive';
@use 'styles/constants/colors';
@use 'styles/constants/sizes';

.baekjoonInputWrapper {
  @include flexbox.flexbox(start, start);
  flex-direction: column;

  input[type='text'] {
    margin-right: 16px;
  }

  span {
    font-size: sizes.$FONT_SMALL;
    color: colors.$ALERT;
  }
}

@include responsive.after(SD) {
  .baekjoonInputWrapper > input[type='text'] {
    width: 160px;
    margin-right: 16px;
  }
}
