@use 'styles/mixins/flexbox';
@use 'styles/constants/colors';

.baekjoonAddFormWrapper {
  width: 100%;
  padding: 1rem;
  border-bottom: 2px solid colors.$DARK30;

  form {
    @include flexbox.flexbox(between, center);
    flex-direction: row;

    input[type='text'] {
      margin: 0.8rem 0;
    }

    button {
      width: 2rem;
      height: 3rem;
      color: colors.$DARK;
    }
  }
}
