@use 'styles/mixins/position';
@use 'styles/mixins/flexbox';
@use 'styles/mixins/responsive';
@use 'styles/constants/colors';
@use 'styles/constants/sizes';
@use 'styles/constants/levels';

.errorMessageWrapper {
  @include position.absolute((4rem, 0, 0, calc(100% - 10rem)));
  @include flexbox.flexbox(start, center);
  z-index: levels.$ERROR_MESSAGE;
  width: 10rem;
  height: 0;
  overflow: hidden;
  line-height: 2rem;
  color: colors.$WHITE;
  background-color: colors.$PRIMARY;
  transition: 0.2s;

  .errorCode {
    @include flexbox.flexbox(center, center);
    width: 3rem;
    font-size: sizes.$FONT_ACCENT;
    font-weight: 700;
    border-right: 2px solid colors.$WHITE;
  }

  .errorData {
    width: 7rem;
    padding: 0 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.isError {
  @keyframes fade {
    0% {
      height: 0;
    }

    20% {
      height: 2rem;
    }

    80% {
      height: 2rem;
    }

    100% {
      height: 0;
    }
  }
  animation: fade 1.5s ease-in-out;
}
