@use 'styles/constants/sizes';
@use 'styles/constants/colors';
@use 'styles/mixins/flexbox';
@use 'styles/mixins/responsive';

.githubGraph {
  @include flexbox.flexbox(start, center);
  overflow: auto;
}

.githubNotAvailable {
  @include flexbox.flexbox(center, center);
  flex-direction: column;
  width: 100%;
  padding: 1rem 0;

  svg {
    width: 5rem;
    margin-bottom: 0.5rem;
    fill: colors.$DARK;
  }

  span {
    width: 100%;
    overflow: hidden;
    font-size: sizes.$FONT_ACCENT;
    line-height: sizes.$FONT_SUBTITLE;
    color: colors.$DARK;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@include responsive.after(SD) {
  .githubWrapper {
    grid-row: 1;
    grid-column: 1 / 3;
  }

  .githubGraph > img {
    height: 100%;
  }
}

@include responsive.after(810px) {
  .githubGraph {
    @include flexbox.flexbox(center, center);
  }
}

@include responsive.after(HD) {
  .githubWrapper {
    grid-column: 1;
  }
}
