@use 'styles/constants/colors';
@use 'styles/constants/sizes';
@use 'styles/mixins/flexbox';
@use 'styles/mixins/animation';

.loadingWrapper {
  @include flexbox.flexbox(center, center);
  flex-direction: column;
  height: 240px;

  svg {
    width: 80px;
    height: 80px;
    margin-bottom: 16px;
    fill: colors.$DARK50;
    @include animation.rotateAnimation(0.5s);
  }

  h3 {
    font-size: sizes.$FONT_ACCENT;
    font-weight: 700;
    color: colors.$DARK;
  }
}
