@use 'styles/constants/colors';
@use 'styles/mixins/flexbox';
@use 'styles/mixins/animation';

.loadingWrapper {
  @include flexbox.flexbox(center, center);
  flex-direction: column;
  height: 600px;

  .loadingIcon {
    @include animation.rotateAnimation(0.5s);
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
    fill: colors.$DARK50;
  }

  h3 {
    font-size: 20px;
    font-weight: 700;
    color: colors.$DARK;
  }
}
