@use 'styles/constants/colors';
@use 'styles/constants/sizes';
@use 'styles/mixins/flexbox';
@use 'styles/mixins/responsive';

.weatherElementWrapper {
  @include flexbox.flexbox(center, center);
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
  overflow: hidden;
  border-left: 1rem solid;
  border-radius: sizes.$BORDER_RADIUS;
  box-shadow: sizes.$ELEMENT_SHADOW colors.$DARK10;

  &:last-child {
    margin-bottom: 0;
  }
}

.weatherElementTop {
  @include flexbox.flexbox(center, center);
  flex-direction: row;

  img {
    height: 4rem;
    margin-right: 1rem;
  }

  .weatherElementInfo {
    @include flexbox.flexbox(center, center);
    flex-direction: column;
    overflow: hidden;
    color: colors.$DARK50;
    text-align: center;

    & > p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .weatherElementImportant {
      margin-top: 0.5rem;
      font-weight: 500;
      color: colors.$DARK;
    }
  }
}

.weatherElementBottom {
  @include flexbox.flexbox(center, center);
  flex-direction: row;
  width: 100%;
  margin-bottom: 0.5rem;
  overflow: hidden;
  color: colors.$DARK30;

  .weatherTemperature {
    margin: 0 0.3rem 0 0;
  }

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@include responsive.after(SD) {
  .weatherElementWrapper {
    flex-shrink: 0;
    width: 20rem;
    height: 6rem;
    padding: 0 1rem;
    margin: 0 0.5rem 0 0;

    &:last-child {
      margin: 0;
    }

    .weatherElementInfo {
      @include flexbox.flexbox(center, center);
      flex-direction: column;
    }
  }
}

@include responsive.after(MD) {
  .weatherElementWrapper {
    width: 100%;
    margin: 0;
    margin-bottom: 0.5rem;
  }
}
