@use 'styles/constants/colors';
@use 'styles/constants/sizes';
@use 'styles/mixins/flexbox';
@use 'styles/mixins/responsive';

.ddayListWrapper {
  @include flexbox.flexbox(start, start);
  flex-direction: column;
  width: 100%;

  & > ul {
    @include flexbox.flexbox(start, start);
    flex-flow: wrap;
    align-content: center;
    width: 100%;
    overflow: auto;
  }

  @include responsive.between(0, 480px) {
    & > ul {
      flex-flow: column;
    }
  }
}

@include responsive.after(SD) {
  .ddayWrapper {
    grid-row: 1;
    grid-column: 1 / 4;

    .ddayListWrapper > ul {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 0.5rem;
    }
  }
}

@include responsive.after(MD) {
  .ddayWrapper {
    grid-column: 1/ 5;
  }
}
