@use 'styles/constants/colors';
@use 'styles/constants/sizes';
@use 'styles/mixins/flexbox';
@use 'styles/mixins/responsive';

.ddayListWrapper {
  width: 100%;

  & > ul {
    @include flexbox.flexbox(start, center);
    flex-direction: column;
    width: 100%;
    overflow: auto;
  }
}

@include responsive.after(SD) {
  .ddayWrapper {
    grid-row: 1;
    grid-column: 1 / 3;

    .ddayListWrapper > ul {
      flex-direction: row;
    }
  }
}

@include responsive.after(MD) {
  .ddayWrapper {
    grid-column: 1 / 5;

    .ddayListWrapper > ul {
      justify-content: center;
    }
  }
}
