@use 'styles/mixins/flexbox';
@use 'styles/mixins/position';
@use 'styles/constants/colors';
@use 'styles/constants/sizes';

.todoElementWrapper {
  @include flexbox.flexbox(between, center);
  flex-shrink: 0;
  width: 100%;
  padding: 0 16px;
  border-bottom: 3px solid colors.$DARK30;

  input[type='checkbox'] {
    margin-right: 32px;
  }

  .todoTitle {
    flex: 1;
    height: 64px;
    margin-right: 16px;
    overflow: hidden;
    line-height: 64px;
    color: colors.$DARK;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.isTodoDone {
      text-decoration: line-through;
    }
  }

  .todoDeadline {
    margin-right: 16px;
    color: colors.$DARK50;
  }

  svg > line {
    color: colors.$DARK;
  }
}
