@use 'styles/mixins/flexbox';
@use 'styles/mixins/position';
@use 'styles/mixins/responsive';
@use 'styles/constants/colors';
@use 'styles/constants/sizes';

.todoElementWrapper {
  @include flexbox.flexbox(between, center);
  width: 100%;
  padding: 0 16px;
  margin-bottom: 16px;
  overflow: hidden;
  box-shadow: sizes.$CONTAINER_SHADOW colors.$DARK10;

  &:last-child {
    margin-bottom: 0;
  }
}

.todoElementLeft {
  @include flexbox.flexbox(start, center);
  flex-direction: row;
  width: 70%;

  input[type='checkbox'] {
    margin-right: 32px;
  }

  .todoTitle {
    flex: 1;
    height: 64px;
    overflow: hidden;
    line-height: 64px;
    color: colors.$DARK;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.isTodoDone {
      text-decoration: line-through;
    }
  }
}

.todoElementRight {
  @include flexbox.flexbox(center, center);
  flex-direction: row;

  .todoDeadline {
    margin-right: 16px;
    color: colors.$DARK50;
  }

  svg > line {
    color: colors.$DARK;
  }
}

@include responsive.after(SD) {
  .todoElementWrapper {
    .todoTitle {
      width: 50%;
    }
  }
}
