@use 'styles/constants/colors';
@use 'styles/mixins/flexbox';

.navigationBarWrapper {
  @include flexbox.flexbox(between, center);
  width: 100vw;
  height: 4rem;
  padding: 0 1rem;
  color: colors.$CONTAINER_TEXT;
  background-color: colors.$CONTAINER_BG;
  box-shadow: 0 0 0.5rem colors.$CONTAINER_SHADOW;

  h3 {
    font-size: 1.1rem;
    font-weight: 500;

    b {
      font-weight: 600;
    }
  }
}

.navigationBarUL {
  @include flexbox.flexbox(start, center);
  flex-direction: row;

  & > li {
    margin: 0 0.5rem;

    svg {
      height: 1.5rem;
      fill: colors.$NAV_ICONS;
    }
  }

  .isActive {
    svg {
      fill: colors.$NAV_ICONS_ACTIVE;
    }
  }
}
