@use 'styles/constants/colors';
@use 'styles/constants/levels';
@use 'styles/mixins/flexbox';
@use 'styles/mixins/position';
@use 'styles/mixins/responsive';

.solvedacContainerInnerWrapper {
  @include flexbox.flexbox(center, center);
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.solvedacProfileImage {
  @include position.relative((0));
  @include flexbox.flexbox(center, center);
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  overflow: hidden;
  border: 3px solid;
  border-radius: 50%;

  img {
    width: inherit;
    height: inherit;
  }

  svg {
    @include position.absolute((-1px, calc(50% - 15px)));
    width: 30px;
    height: 30px;
  }
}

.solvedacContentsWrapper {
  @include flexbox.flexbox(center, start);
  flex-direction: column;
}

.solvedacContainerProfile {
  @include flexbox.flexbox(center, center);
  flex-direction: row;
  width: 100%;
  margin-bottom: 10px;

  dl {
    width: 120px;
    margin-right: 20px;
    color: colors.$DARK;

    dt {
      margin-bottom: 5px;
      font-size: 20px;
      font-weight: 500;
    }

    dd {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  img {
    width: 50px;
    height: 50px;
  }
}

.solvedacRankings {
  @include flexbox.flexbox(center, center);
  flex-direction: row;

  dl {
    @include flexbox.flexbox(center, center);
    flex-direction: row;
    font-size: 14px;
    color: colors.$DARK;

    &:first-child {
      margin-right: 20px;
    }

    dt {
      margin-right: 5px;
      color: colors.$DARK50;
    }
  }
}

@include responsive.after(SD) {
  .solvedacProfileImage {
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    overflow: hidden;

    svg {
      @include position.absolute((-1px, calc(50% - 15px)));
      width: 30px;
      height: 30px;
    }
  }
}
