@use 'styles/constants/colors';
@use 'styles/constants/sizes';
@use 'styles/mixins/flexbox';

.ddayAddFormWrapper {
  @include flexbox.flexbox(center, center);
  width: 100%;
  min-height: 3rem;
  padding: 1rem;
  background-color: colors.$MIDDLE20;
  border-radius: sizes.$BORDER_RADIUS;

  svg {
    width: 2rem;
    height: 2rem;
    stroke: colors.$WHITE;
  }

  &.isForm {
    justify-content: space-between;
  }
}
