@use 'styles/constants/colors';
@use 'styles/constants/levels';
@use 'styles/constants/sizes';
@use 'styles/mixins/flexbox';
@use 'styles/mixins/position';

.ddayFormWrapper {
  @include flexbox.flexbox(between, center);
  flex-flow: wrap;
  width: 100%;

  & > div {
    flex: 1;
  }
}

.inputs {
  @include flexbox.flexbox(center, center);
  flex-direction: column;
  padding: 0.5rem;

  & > input[type='text'] {
    width: 4rem;

    &:first-child {
      width: 8rem;
      margin-bottom: 0.5rem;
    }
  }
}

.pickers {
  @include flexbox.flexbox(center, center);
  flex-direction: column;
  padding: 0.5rem;

  .paletteButton {
    @include position.relative((0));

    & > button {
      @include flexbox.flexbox(center, center);
      flex-direction: row;
      width: 6rem;
      height: 2rem;
      padding: 0.5rem;
      margin-bottom: 0.5rem;
      background-color: white;
      border-radius: sizes.$BORDER_RADIUS;
    }

    span {
      color: colors.$WHITE;

      &.isFillWhite {
        color: colors.$DARK;
      }
    }

    svg {
      width: 1rem;
      height: 1rem;
      margin-right: 0.5rem;
      fill: colors.$WHITE;
      stroke: colors.$WHITE;
    }
  }
}

.buttons {
  @include flexbox.flexbox(between, center);
}
